<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Multimodal Insights</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
  </head>
  <body>
    <div class="topnav">
        <a href="/" class="title">Multimodal Insights</a>
        <a href="/instructions" class="pageLink" id="instructions">instructions</a>
        <a href="/tool" class="pageLink tool" id="tool">tool</a>
    </div>
    <main>
        {% block content %}

        {% endblock content %}
    </main>
  </body>
</html>