{% extends 'base.html' %}

{% block content %}
<style>
    .topnav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #1ec4a8, #0E1111, #0E1111, #C41E3A);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    z-index: -1;
    }
    @keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }

    .laser {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #C41E3A;
    box-shadow: 0 0 7px 2px white;
    pointer-events: none;
    animation: fadeOut 1s ease-in;
    }

    @keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/static/js/gazefilter.js"></script>
<script src="/static/js/trainGazefilter.js"></script>
<canvas style="width: 256px !important; height: 192px !important; transform: rotateY(180deg) !important;" id="tracker-canvas"></canvas>
<div id="canvasBox"></div>
<div id="dot" style="position: absolute; left: 0; top:0; width:15px; height: 15px; border-radius: 50%; background-color: red;"></div>
<div id="target" class="target">
    <div class="bullseye"></div>
</div>

<style>
    .target {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border: 10px solid #f00;
        border-radius: 50%;
        position: absolute;
        left:300px;
        top:500px;
        z-index: 999999999999999999999999999999999999999999999999999;
        caret-color: rgb(0, 255, 17)
    }

    .bullseye {
        width: 20px;
        height: 20px;
        background-color: #f00;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    body{
        cursor: crosshair;
        height: 100vh;
    }

</style>
  

{% endblock content %}