<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
	<script src="{% static 'js/tool.js' %}"></script>
    <h1>Speech color changer</h1>
    <p id='hints' class="hints">Tap/click then say a color to change the background color of the app.</p>
    <div>
        <p class="output"><em>…diagnostic messages</em></p>
    </div>
  </body>
</html>